<ion-view class="change-password">
    <ion-nav-bar class="bar-stable">
        <ion-nav-title><span class="title" name="changePassword-title" translate="OCF.PASSWORD.CHANGE.TITLE"></span>
        </ion-nav-title>
        <ion-header-bar>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear button-dark"
                        ng-click="goToPreviousState()"
                        ng-show="!successPasswordChange"
                        name="changePassword-backButton"><i class="fa fa-angle-left"></i></button>
            </ion-nav-buttons>
        </ion-header-bar>
    </ion-nav-bar>

    <ion-content>
        <div class="list change-password-form" ng-show="!successPasswordChange">
            <div class="item item-input item-floating-label"
                 ng-class="{error: pm.hasError.current}">
                <span class="input-label" translate="OCF.PASSWORD.CHANGE.CURRENT_PLACEHOLDER"></span>
                <i class="fa fa-times-circle error-icon placeholder-icon"
                   name="changePassword-newPasswordErrorIcon"
                   ng-if="pm.hasError.current"></i>
                <input type="{{pm.display.current ? 'text' : 'password'}}"
                       name="changePassword-currentPassword"
                       placeholder="{{pm.labels.current}}"
                       ng-focus="removeErrors('current')"
                       ng-model="pm.passwords.current">
                <i class="fa fa-eye view-password placeholder-icon"
                   name="changePassword-viewConfirmPasswordButton"
                   ng-show="!!pm.passwords.current"
                   ng-class="{viewing: pm.display.current}"
                   ng-click="togglePasswordVisibility('current')"></i>
            </div>

            <div class="item item-input item-floating-label"
                 ng-class="{error: pm.hasError.new}">
                <span class="input-label" translate="OCF.PASSWORD.CHANGE.NEW_PLACEHOLDER"></span>
                <i class="fa fa-times-circle error-icon placeholder-icon"
                   name="changePassword-newPasswordErrorIcon"
                   ng-if="pm.hasError.new"></i>
                <input type="{{pm.display.new ? 'text' : 'password'}}"
                       name="changePassword-newPasswordInput"
                       placeholder="{{pm.labels.new}}"
                       ng-focus="removeErrors('new')"
                       ng-model="pm.passwords.new">
                <i class="fa fa-eye view-password placeholder-icon"
                   name="changePassword-viewNewPasswordButton"
                   ng-show="!!pm.passwords.new"
                   ng-class="{viewing: pm.display.new}"
                   ng-click="togglePasswordVisibility('new')"></i>
            </div>

            <meter max="{{::pm.meter.max}}"
                   value="{{pm.meter.value}}"
                   name="changePassword-passwordMeter"></meter>
            <div class="row password-strength-meter-info">
                <div class="col password-strength-title text-left"
                     name="changePassword-passwordMeter_title" translate="OCF.PASSWORD.CHANGE.STRENGTH_LABEL"></div>
                <div class="col password-strength-meter-description text-right assertive"
                     ng-show="pm.meter.value == 1"
                     name="changePassword-passwordMeter_description">
                    {{pm.meter.description[pm.meter.value]}}
                </div>
                <div class="col password-strength-meter-description text-right energized"
                     ng-show="pm.meter.value == 2 || pm.meter.value == 3"
                     name="changePassword-passwordMeter_description">
                    {{pm.meter.description[pm.meter.value]}}
                </div>
                <div class="col password-strength-meter-description text-right balanced"
                     ng-show="pm.meter.value == 4"
                     name="changePassword-passwordMeter_description">
                    {{pm.meter.description[pm.meter.value]}}
                </div>

            </div>

            <div class="item item-input item-floating-label"
                 ng-class="{error: pm.hasError.newConfirm}">
                <span class="input-label" translate="OCF.PASSWORD.CHANGE.CONFIRM_PLACEHOLDER"></span>
                <i class="fa fa-times-circle error-icon placeholder-icon"
                   name="changePassword-confirmPasswordErrorIcon"
                   ng-if="pm.hasError.newConfirm"></i>
                <input type="{{pm.display.newConfirm ? 'text' : 'password'}}"
                       name="changePassword-confirmPasswordInput"
                       placeholder="{{pm.labels.newConfirm}}"
                       ng-focus="removeErrors('newConfirm')"
                       ng-model="pm.passwords.newConfirm">
                <i class="fa fa-eye view-password placeholder-icon"
                   name="changePassword-viewConfirmPasswordButton"
                   ng-show="!!pm.passwords.newConfirm"
                   ng-class="{viewing: pm.display.newConfirm}"
                   ng-click="togglePasswordVisibility('newConfirm')"></i>
            </div>
        </div>

        <div class="row change-must" ng-show="!successPasswordChange">
            <div class="col col-5"></div>
            <div class="col col-90 info-message">
                <div class="must" name="changePassword-infoMessage-must">
                    <p><strong translate="OCF.PASSWORD.CHANGE.LEGEND.MUST"></strong></p>
                    <div ng-bind-html="pm.finalMessage | toTrusted"></div>
                </div>

                <div class="must-not" name="changePassword-infoMessage-must-not">
                    <p><strong translate="OCF.PASSWORD.CHANGE.LEGEND.MUST_NOT"></strong></p>

                    <div ng-class="{error: !!pm.passwordRulesErrors.previously}"
                         translate="OCF.PASSWORD.CHANGE.LEGEND.USED"></div>
                </div>

                <div>
                    <!--<div class="error" ng-if="!!pm.passwordRulesErrors.dictionary"-->
                         <!--ng-bind-html="dictWord.errorMessage"></div>-->

                    <div class="error" ng-if="!!pm.passwordRulesErrors.dictionary">
                        Password contains the dictionary word '{{pm.passwordRulesErrors.dictWord}}'.
                    </div>
                    <div class="error" ng-if="!!pm.passwordRulesErrors.genericError">
                        {{pm.passwordRulesErrors.genericError}}
                    </div>
                </div>
            </div>
            <div class="col col-5"></div>
        </div>

        <div class="row" ng-show="successPasswordChange">
            <div class="col col-5"></div>
            <div class="col col-90 info-message">
                <div class="message-icon"><i class="icon fa fa-check"></i></div>
                <div class="message-question" translate="OCF.PASSWORD.CHANGE.SUCCESS.MAIN_MESSAGE"></div>
                <div class="message-text" translate="OCF.PASSWORD.CHANGE.SUCCESS.FIRST_PARAGRAPH"></div>
                <div class="message-text" translate="OCF.PASSWORD.CHANGE.SUCCESS.SECOND_PARAGRAPH"></div>
            </div>
            <div class="col col-5"></div>
        </div>
    </ion-content>

    <ion-footer-bar>
        <div class="row buttons-row hide-on-keyboard-open">
            <div class="col text-center">
                <input class="button button-balanced button-block"
                       ng-click="changePassword()"
                       ng-disabled="!pm.passwords.current || !pm.passwords.new || !pm.passwords.newConfirm"
                       ng-show="!successPasswordChange"
                       type="button"
                       name="changePassword-changePasswordButton"
                       value="{{'OCF.PASSWORD.CHANGE.BUTTON_CHANGE' | translate}}"/>
                <input class="button button-balanced button-block"
                       ng-click="userLogout()"
                       ng-show="successPasswordChange"
                       type="button"
                       name="changePassword-success_loginButton"
                       value="{{'OCF.PASSWORD.CHANGE.SUCCESS.BUTTON_LOGIN' | translate}}"/>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
