@charset "UTF-8";

.change-password {
  .title {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
  }

  .change-must {
    .info-message {
      margin-top: 0 !important;
    }
  }

  .info-message {
    color: $retailer-black;
    text-align: center;
    font-size: 16px;
    margin-top: 70px;

    .error {
      color: $retailer-red;
    }

    .message-icon {
      color: $retailer-green;
      font-size: 40px;
    }

    .message-question {
      padding-top: 20px;
      font-weight: bold;
      font-size: 20px;
    }

    .message-text {
      padding-top: 10px;
      line-height: 24px;
    }
  }

  .row + .row {
    margin-top: 0;
  }

  .change-password-form {
    background: $retailer-white;
    margin-bottom: 5px;

    .item-input {
      padding: 2px 0 2px 16px;
    }

    input {
      @include roboto;
      font-size: 18px;
    }

    .error {
      input {
        padding-left: 15px;
      }
    }
  }

  i {
    &.placeholder-icon {
      position: absolute;
      z-index: 10000;
      font-size: 20px;
      right: 15px;
      bottom: 10px;

      &.viewing {
        color: $retailer-green;
      }

      &.error-icon {
        position: absolute;
        left: 10px;
        bottom: 12px;
        color: $retailer-red;
        z-index: -1;
      }
    }

  }

  .must-not {
    margin: 10px 0;
  }

  p {
    margin: 0;
  }

  // meter
  meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance:button;
    appearance: none;
    margin: 0 auto;
    width: 96%;
    margin-left: 2%;
    height: .5em;

    &::-webkit-meter-bar {
      background: none;
      background-color: $retailer-gray-10;
    }

    &[value="1"]::-webkit-meter-optimum-value {
      background: $retailer-red;
    }
    &[value="2"]::-webkit-meter-optimum-value {
      background: $retailer-yellow;
    }
    &[value="3"]::-webkit-meter-optimum-value {
      background: $retailer-yellow;
    }
    &[value="4"]::-webkit-meter-optimum-value {
      background: $retailer-green;
    }

    &[value="1"]::-moz-meter-bar {
      background: $retailer-red;
    }
    &[value="2"]::-moz-meter-bar {
      background: $retailer-yellow;
    }
    &[value="3"]::-moz-meter-bar {
      background: $retailer-yellow;
    }
    &[value="4"]::-moz-meter-bar {
      background: $retailer-green;
    }
  }

  .password-strength-meter-info {
    @include roboto;
    padding: 0;
    margin-top: -2px;
    font-weight: bold;
    color: $retailer-gray-50;

    //.password-strength-meter-description { }
  }

  // Errors
  .item-floating-label {
    border-top: none;

    &.error {
      border-bottom: 1px solid $retailer-red;

      input::-webkit-input-placeholder {
        color: $retailer-red;
      }
    }
  }

  ion-content {
    height: 480px;
    bottom: 64px;
  }

  ion-footer-bar {
    background-color: transparent;

    &.bar {
      height: 74px;

      &.bar-footer {
        background-position: bottom;
      }
    }

    .buttons-row {
      background-color: transparent;
      border: 0;
      padding: 0 t7x(6) !important;

      .col {

        .button {
          border: 0;
          @include roboto;
          font-size: t7x(40);
          margin-bottom: 0 !important;
          padding: t7x(24) t7x(24);

          &[disabled="disabled"] {
            color: $retailer-gray-30;
            background-color: $retailer-gray-20 !important;
          }

          &.button-balanced {
            background-color: $retailer-green;
          }
        }

        .button-block {
          margin-top: 0 !important;
        }
      }
    }
  }
}



