<ion-view view-title="Login" hide-nav-bar="true" class="login-screen">
    <ion-content scroll="false">

        <div class="login-box">
            <div class="hide-on-keyboard-open logo">
                <img src="assets/img/zest-logo-white.png" alt="Zest Fresh"/>
            </div>

            <messages class="hide-on-keyboard-open text-align-center"
                      ng-class="{'messages-hidden':messages.error.length==0, 'text-align-center-pa': heightScreen < 480}" messages="messages"></messages>

            <form class="form-login" ng-submit="doLogin()">
                <div>
                    <div class="item item-input " id="usernameLabel" ng-class="{'error-input': messages.error.length>0}">
                        <input id="usernameInput" type="text" placeholder="{{form.username}}" ng-focus="" ng-model="loginData.username">
                    </div>
                    <div class="item item-input" id="passwordLabel">
                        <input id="passwordInput" type="password" placeholder="{{form.password}}" ng-model="loginData.password">
                    </div>

                    <button class="login-button" type="submit" translate="OCF.LOGIN.LOGIN_BUTTON"></button>

                </div>
            </form>
        </div>

        <div class="forgot-password" ng-class="{'forgot-password-pa': heightScreen < 480 }" ng-click="forgotPassword()" translate="OCF.LOGIN.FORGOT_PASSWORD"></div>

        <div class="row login-footer" ng-class="{'login-footer-pa': heightScreen < 480 }" id="login-footer">
            <label class="col col-50 text-align-left label-footer" ng-class="{'text-align-center-pa': heightScreen < 480 }">© ZEST Fresh 2016</label>
            <label class="col col-25 text-align-right label-footer" ng-class="{'text-align-center-pa': heightScreen < 480 }">{{appVersion}}</label>
        </div>
    </ion-content>
</ion-view>
