@charset "UTF-8";

.forgot-password-screen {
  background-color: $retailer-white;

  .title {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
  }

  .info-message {
    color: $retailer-black;
    text-align: center;
    font-size: 16px;
    margin-top: 12vh;

    .error {
      color: $retailer-red;
    }

    .message-icon {
      color: $retailer-green;
      font-size: 40px;
    }

    .message-question {
      padding-top: 20px;
      font-weight: bold;
      font-size: 20px;
    }

    .message-text {
      padding-top: 10px;
      line-height: 24px;
    }
  }

  .row + .row {
    margin-top: 0;
  }

  .forgot-password-form {
    background: $retailer-white;
    margin-bottom: 5px;

    .item-input {
      padding: 2px 0 2px 16px;
    }

    span {
      &.input-label {
        text-align: center;
        max-width: 100%;
        width: 100%;
        padding-right: 24px;
      }
    }
    input {
      @include roboto;
      text-align: center;
      font-size: 18px;
    }

    .error {
      input {
        padding-left: 15px;
      }
    }
  }

  i {
    &.placeholder-icon {
      position: absolute;
      z-index: 10000;
      font-size: 20px;
      right: 15px;
      bottom: 10px;

      &.viewing {
        color: $retailer-green;
      }

      &.error-icon {
        position: absolute;
        left: 10px;
        bottom: 12px;
        color: $retailer-red;
      }
    }

  }

  .must-not {
    margin: 10px 0;
  }

  p {
    margin: 0;
  }

  // Errors
  .item-floating-label {
    border-top: none;

    &.error {
      border-bottom: 1px solid $retailer-red;

      input::-webkit-input-placeholder {
        color: $retailer-red;
      }
    }
  }

  ion-content {
    height: 480px;
    bottom: 64px;
  }

  ion-footer-bar {
    background-color: transparent;

    &.bar {
      height: 74px;

      &.bar-footer {
        background-position: bottom;
      }
    }

    .buttons-row {
      background-color: transparent;
      border: 0;
      padding: 0 t7x(6) !important;

      .col {

        .button {
          border: 0;
          @include roboto;
          font-size: t7x(40);
          margin-bottom: 0 !important;
          padding: t7x(24) t7x(24);

          &[disabled="disabled"] {
            color: $retailer-gray-30 !important;
            background-color: $retailer-gray-20 !important;
          }

          &.button-balanced {
            background-color: $retailer-green;
          }
        }

        .button-block {
          margin-top: 0 !important;
        }
      }
    }
  }

}



