<ion-view class="forgot-password-screen">
    <ion-nav-bar class="bar-stable">
        <ion-nav-title><span class="title" name="forgotPassword-title" translate="OCF.PASSWORD.FORGOT.TITLE"></span></ion-nav-title>
        <ion-header-bar>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear button-dark"
                        ng-click="goToPreviousState()"
                        ng-show="!pm.successPasswordRecover"
                        name="forgotPassword-backButton"><i class="fa fa-angle-left"></i></button>
            </ion-nav-buttons>
        </ion-header-bar>
    </ion-nav-bar>

    <ion-content>
        <div class="row" ng-show="!pm.successPasswordRecover">
            <div class="col col-5"></div>
            <div class="col col-90 info-message" name="forgotPassword-infoMessage">
                <div class="message-icon"><i class="icon fa fa-lock"></i></div>
                <div class="message-question" translate="OCF.PASSWORD.FORGOT.QUESTION"></div>
                <div class="message-text" translate="OCF.PASSWORD.FORGOT.MESSAGE"></div>
            </div>
            <div class="col col-5"></div>
        </div>
        <div class="list forgot-password-form" ng-show="!pm.successPasswordRecover">
            <div class="item item-input item-floating-label"
                 ng-class="{error: pm.hasError}">
                <span class="input-label" translate="OCF.PASSWORD.FORGOT.USERNAME_PLACEHOLDER"></span>
                <i class="fa fa-times-circle error-icon placeholder-icon"
                   name="changePassword-forgotPasswordErrorIcon"
                   ng-if="pm.hasError"></i>
                <input id="changePasswordInput"
                       type="text"
                       name="changePassword-username"
                       placeholder="{{pm.label}}"
                       ng-focus="removeErrors()"
                       ng-model="pm.username">
            </div>
        </div>
        <div class="row" ng-show="!pm.successPasswordRecover">
            <div class="col col-5"></div>
            <div class="col col-90 info-message" name="forgotPassword-infoMessage">
                <div class="error" ng-if="!!pm.genericError && !pm.successPasswordRecover">
                    {{pm.genericError}}
                </div>
            </div>
            <div class="col col-5"></div>
        </div>
        <div class="row" ng-show="pm.successPasswordRecover">
            <div class="col col-5"></div>
            <div class="col col-90 info-message">
                <div class="message-icon"><i class="icon fa fa-envelope"></i></div>
                <div class="message-question" translate="OCF.PASSWORD.FORGOT.SUCCESS.MAIN_MESSAGE"></div>
                <div class="message-text" translate="OCF.PASSWORD.FORGOT.SUCCESS.FIRST_PARAGRAPH"></div>
            </div>
            <div class="col col-5"></div>
        </div>
    </ion-content>

    <ion-footer-bar>
        <div class="row buttons-row hide-on-keyboard-open">
            <div class="col text-center">
                <input class="button button-balanced button-block"
                       ng-click="resetPassword()"
                       ng-disabled="!pm.username"
                       ng-if="!pm.successPasswordRecover"
                       type="button"
                       name="forgotPassword-resetPasswordButton"
                       translate="OCF.PASSWORD.FORGOT.BUTTON_SUBMIT" value="{{'OCF.PASSWORD.FORGOT.BUTTON_SUBMIT' | translate}}"/>
                <input class="button button-balanced button-block"
                       ng-click="userLogout()"
                       ng-if="pm.successPasswordRecover"
                       type="button"
                       name="forgotPassword-success_loginButton"
                       value="{{'OCF.PASSWORD.FORGOT.SUCCESS.BUTTON_OKAY' | translate}}"/>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
